/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 26, 2024, 10:53:22 a.m.
    Author     : joshu
*/
.grid-pane{
    -fx-background-color: #636363;
}
.menu-bar{
    -fx-background-color: #3b3b3b;
}
.menu .label{
    -fx-text-fill: #ffffff;
}
.menu-item{
     -fx-background-color: #3b3b3b;
}
.startpage{
    -fx-background-color: #608d91;
}