/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 26, 2024, 11:08:45 a.m.
    Author     : joshu
*/

.showline{
    opacity:1.0;
}

.hideline{
    opacity:0;
}